In [3]:
import pandas as pd
import os
os.chdir(r'C:\Users\Lenovo\Ironhack\Bootcamp\Datalabs\data-labs\module-1\lab-mysql\czech')

In [12]:
account = pd.read_csv('account.csv', sep=';')
czech.head(5)

   account_id  district_id         frequency    date
0         576           55  POPLATEK MESICNE  930101
1        3818           74  POPLATEK MESICNE  930101
2         704           55  POPLATEK MESICNE  930101
3        2378           16  POPLATEK MESICNE  930101
4        2632           24  POPLATEK MESICNE  930102

In [28]:
os.listdir()

['account.csv',
 'berka.pdf',
 'card.csv',
 'client.csv',
 'disp.csv',
 'district.csv',
 'loan.csv',
 'order.csv',
 'trans.csv']

In [13]:
import pymysql
from sqlalchemy import create_engine
engine=create_engine(f'mysql+pymysql://root:{password}!@localhost/czech2')

account.to_sql('account',engine,if_exists='replace',index=False)

C:\Users\Lenovo\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\x92\\xE9t\\xE9)' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [24]:
czech = ['account.csv','card.csv','client.csv','disp.csv','district.csv','loan.csv','order.csv','trans.csv']
for i in czech:
    pd.read_csv(i,sep=';').to_sql(i,engine,if_exists='replace',index=False)

In [29]:
#Correction
os.listdir()
names=[i[:-4] for i in os.listdir() if i.endswith('.csv')]
names
for name in names:
     pd.read_csv(name+'.csv',sep=';').to_sql(name,engine,if_exists='replace',index=False)

In [ ]:
for name in names:
    exec(f"{name}.to_sql('{name}',engine,if_exists='replace',index=False))