In [22]:
import pandas as pd
import json
import requests as r
from pandas.io.json import json_normalize

## Challenge 2

In [23]:
ACCESS_TOKEN='90c74956bc6b09af00279920e9f2c213bbba27e5'

In [24]:
header = {'Authorization':'Token' + ACCESS_TOKEN}

In [44]:
url = 'https://api.github.com/repos/ironhack-datalabs/dataV2-labs/stats/commit_activity'

In [45]:
response = r.get(url,headers=header)
response

In [50]:
result = response.json()
result

[{'total': 0, 'week': 1541289600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1541894400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1542499200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1543104000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1543708800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1544313600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1544918400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1545523200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1546128000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1546732800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1547337600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1547942400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1548547200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1549152000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1549756800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1550361600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1550966400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1551571200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1552176000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1552780800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1553385600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1553990400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1554595200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1555200000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1555804800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1556409600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1557014400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1557619200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1558224000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1558828800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1559433600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1560038400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1560643200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1561248000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1561852800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1562457600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1563062400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1563667200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1564272000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1564876800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1565481600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1566086400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1566691200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1567296000, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1567900800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1568505600, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1569110400, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 0, 'week': 1569715200, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 135, 'week': 1570320000, 'days': [0, 0, 118, 0, 17, 0, 0]},
 {'total': 0, 'week': 1570924800, 'days': [0, 0, 0, 0, 0, 0, 0]},
 {'total': 7, 'week': 1571529600, 'days': [0, 1, 6, 0, 0, 0, 0]},
 {'total': 0, 'week': 1572134400, 'days': [0, 0, 0, 0, 0, 0, 0]}]

In [54]:
flat_data=json_normalize(result)
flat_data

                        days  total        week
0      [0, 0, 0, 0, 0, 0, 0]      0  1541289600
1      [0, 0, 0, 0, 0, 0, 0]      0  1541894400
2      [0, 0, 0, 0, 0, 0, 0]      0  1542499200
3      [0, 0, 0, 0, 0, 0, 0]      0  1543104000
4      [0, 0, 0, 0, 0, 0, 0]      0  1543708800
5      [0, 0, 0, 0, 0, 0, 0]      0  1544313600
6      [0, 0, 0, 0, 0, 0, 0]      0  1544918400
7      [0, 0, 0, 0, 0, 0, 0]      0  1545523200
8      [0, 0, 0, 0, 0, 0, 0]      0  1546128000
9      [0, 0, 0, 0, 0, 0, 0]      0  1546732800
10     [0, 0, 0, 0, 0, 0, 0]      0  1547337600
11     [0, 0, 0, 0, 0, 0, 0]      0  1547942400
12     [0, 0, 0, 0, 0, 0, 0]      0  1548547200
13     [0, 0, 0, 0, 0, 0, 0]      0  1549152000
14     [0, 0, 0, 0, 0, 0, 0]      0  1549756800
15     [0, 0, 0, 0, 0, 0, 0]      0  1550361600
16     [0, 0, 0, 0, 0, 0, 0]      0  1550966400
17     [0, 0, 0, 0, 0, 0, 0]      0  1551571200
18     [0, 0, 0, 0, 0, 0, 0]      0  1552176000
19     [0, 0, 0, 0, 0, 0, 0]      0  1552780800
20     [0, 0, 0, 0, 0, 0, 0]      0  1553385600
21     [0, 0, 0, 0, 0, 0, 0]      0  1553990400
22     [0, 0, 0, 0, 0, 0, 0]      0  1554595200
23     [0, 0, 0, 0, 0, 0, 0]      0  1555200000
24     [0, 0, 0, 0, 0, 0, 0]      0  1555804800
25     [0, 0, 0, 0, 0, 0, 0]      0  1556409600
26     [0, 0, 0, 0, 0, 0, 0]      0  1557014400
27     [0, 0, 0, 0, 0, 0, 0]      0  1557619200
28     [0, 0, 0, 0, 0, 0, 0]      0  1558224000
29     [0, 0, 0, 0, 0, 0, 0]      0  1558828800
30     [0, 0, 0, 0, 0, 0, 0]      0  1559433600
31     [0, 0, 0, 0, 0, 0, 0]      0  1560038400
32     [0, 0, 0, 0, 0, 0, 0]      0  1560643200
33     [0, 0, 0, 0, 0, 0, 0]      0  1561248000
34     [0, 0, 0, 0, 0, 0, 0]      0  1561852800
35     [0, 0, 0, 0, 0, 0, 0]      0  1562457600
36     [0, 0, 0, 0, 0, 0, 0]      0  1563062400
37     [0, 0, 0, 0, 0, 0, 0]      0  1563667200
38     [0, 0, 0, 0, 0, 0, 0]      0  1564272000
39     [0, 0, 0, 0, 0, 0, 0]      0  1564876800
40     [0, 0, 0, 0, 0, 0, 0]      0  1565481600
41     [0, 0, 0, 0, 0, 0, 0]      0  1566086400
42     [0, 0, 0, 0, 0, 0, 0]      0  1566691200
43     [0, 0, 0, 0, 0, 0, 0]      0  1567296000
44     [0, 0, 0, 0, 0, 0, 0]      0  1567900800
45     [0, 0, 0, 0, 0, 0, 0]      0  1568505600
46     [0, 0, 0, 0, 0, 0, 0]      0  1569110400
47     [0, 0, 0, 0, 0, 0, 0]      0  1569715200
48  [0, 0, 118, 0, 17, 0, 0]    135  1570320000
49     [0, 0, 0, 0, 0, 0, 0]      0  1570924800
50     [0, 1, 6, 0, 0, 0, 0]      7  1571529600
51     [0, 0, 0, 0, 0, 0, 0]      0  1572134400

In [64]:
flat_data.total[-2:].sum()

7

## Challenge 2.1

In [74]:
url = 'https://api.github.com/repos/ironhack-datalabs/dataV2-labs/commits?q=committer-date:>2019-10-16'
url = 'https://api.github.com/repos/ironhack-datalabs/dataV2-labs/commits?q=committer-date:>2016-10-10'

In [75]:
params={

}

In [76]:
response= r.get(url,headers=header)
response

In [77]:
from datetime import date
from datetime import timedelta

today=date.today()
last_week_date=today - timedelta(days=7)
last_week_date
lwd=last_week_date.strftime('%Y-%m-%dT%H:%M:%SZ')
url = 'https://api.github.com/repos/ironhack-datalabs/dataV2-labs/commits'
params = {
   "since":"2019-10-16T00:00:00Z"
}
response = r.get(url,params=params,headers=header)
res=response.json()
flat=json_normalize(res)
flat

,documentation_url,message
0,https://developer.github.com/v3/#rate-limiting,API rate limit exceeded for 195.134.167.217. (...